/* .recipe-checkbox {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.jumbotron {
    background: url('/static/images/background-home.jpg');
    background-size: cover;
}
