@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    max-width: 1300px;
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background: url('/static/images/background-home.jpg');
    background-size: cover;
}

#search-tool {
    margin-left: -15px;
}

.form-search {
    margin: 0 10px 10px 5px;
}

/* Register */

.register-header {
    padding: 10px 0;
}

/* New Recipes */

.new-recipe-header {
    font-size: 2.5rem;
    padding: 20px 0;
}

/* Recipe */

.recipe-image {
    max-width: 100%;
    padding-bottom: 10px;
}

.recipe-form {
    padding-bottom: 60px;
}

/* Recipes.html  */

.recipes-header {
    padding: 10px 1%;
    background-color: #fcf4ec;
    margin-bottom: 20px;
}

.recipes-sections {
    padding: 15px 0 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed #dddddd;
}

.recipes-info {
    text-align: center;
    color: #666;
}

.recipes-info-details {
    margin-bottom: 10px;
    padding: 5px;
}

.recipes-title {
    font-weight: 600;
    padding: 20px 8px;
    font-size: 2.3rem;
}

.recipes-description {
    padding: 5px 5px 15px 5px;
}

.recipes-main {
    padding: 5px 10px 10px;
}

.popularity-links {
    color: #28A745;
}

.popularity-links:hover {
    color: #DD3545;
}

.ingredient-list-container {
    border: 1px solid #eaeaea;
    border-style: inset;
    padding: 3%;
}

.recipes-image {
    margin: 6px auto;
    max-width: 100%;
    text-align: left;
}

.ingredient-list,
.instructions-list {
    list-style: none;
    padding: 2px;
}

.ingredient-list-odd,
.ingredient-list-even,
.instruction-list-odd,
.instruction-list-even {
    padding: 6px 8px;
}

.ingredient-list-odd {
    background-color: #f1f7f7;
}

.instruction-index {
    font-size: 1.3rem;
}

.instruction-list-odd,
.instruction-list-even {
    border-bottom: 1px solid #f0f2eb;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.ingredient-list-container {
    padding: 3%;
}

/* Footer */

footer {
    padding: 10px 0;
    margin-top: 150px;
}

.social-footer {
    margin-right: 5px;
    font-size: 30px;
    transition: .5s all ease;
}

.social-footer:hover {
    font-size: 40px;
    margin-top: -10px;
}

/* Media Queries */

@media screen and (min-width: 568px) {
    .recipes-header {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 567px) {
    .recipes-header {
        text-align: center;
    }

    .recipes-image {
        max-width: 90%;
        text-align: center;
    }

    footer {
        margin-top: 50px;
    }

    .social-footer {
        font-size: 15px;
    }

    .social-footer:hover {
        font-size: 20px;
    }

    .paragraph-footer {
        font-size: 10px;
    }
}