<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block nav %}{% endblock %}

    <main id="main" class="container">

        {% block content %}{% endblock %}
    
    </main>

    <!--Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script/script.js')}}"></script>
    <!-- <script src="https://kit.fontawesome.com/3e2e687d72.js"></script> -->
</body>
</html>