{% extends 'base.html' %}
{% from 'nav.html' import show_links %}

{% block title %}Recipes Home Page{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}

<section class="container">

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image">
                    <img src="images/sample-1.jpg">
                    <span class="card-title">{{ recipe.name }}</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">{{ recipe.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
 
    </div>

</section>

{% endblock %}