{% extends 'base.html' %}
{% from '_nav.html' import show_links %}
{% from '_search.html' import search_bar %}

{% block title %}Recipes Home Page{% endblock %}

{% block nav %}
{{ show_links(username) }}
{% endblock %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid text-white mb-0">
        <div class="container">
            <h1 class="display-4">Healthy Cookbook</h1>
            <p class="lead">Your collection of healty choices in the kitchen</p>
        </div>
    </div>
</section>

{% block search %}
{{ search_bar(cuisines) }}
{% endblock %}
<!-- <hr class="my-2">
<div class="nav">
    <form method="POST" class="form-inline col-sm-12" action="{{ url_for('index') }}">
        <select name="cuisine" id="cuisine" class="form-control form-control-sm">
            <option value="" selected>Cuisine</option>
            {% for cuisine in cuisines %}
            <option value="{{ cuisine }}">{{ cuisine }}</option>
            {% endfor %}
        </select>

        <select name="order" id="order" class="form-control form-control-sm ml-sm-2">
            <option value="" selected>Order by:</option>
            <option value="name">Name</option>
            <option value="likes">Likes</option>
            <option value="create_date">Most recent</option>
        </select>
        <input class="form-control form-control-sm ml-sm-2" name="filter" type="search" placeholder="Search"
            aria-label="Filter">
        <button class="btn btn-sm btn-outline-secondary ml-sm-2 my-sm-0 my-md-2" type="submit">filter</button>
        <button class="btn btn-sm btn-outline-secondary ml-sm-2 my-sm-0 my-md-2" type="reset">reset</button>
    </form>
</div>
<hr class="my-2"> -->

<section class="container">

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <img src="{{ url_for('file', image=recipe['image']) }}" class="card-img-top" alt="{{ recipe.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name|truncate(35, True) }}</h5>
                    <p class="card-text">{{ recipe.description|truncate(100, True) }}</p>
                    <a href="{{ url_for('recipe', recipe_id=recipe['_id']) }}"
                        class="btn btn-primary">{{ recipe.name|truncate(35, True) }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
 
    </div>

</section>

{% endblock %}