{% extends 'base.html' %}
{% from '_nav.html' import show_links %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block nav %}
{{ show_links(username) }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="row recipes-header">
        <div class="col-sm-12 col-md-4">
            <img src="{{ url_for('file', image=recipe['image']) }}" class="rounded recipes-image"
                title="{{ recipe.name }}" alt="{{ recipe.name }}">
        </div>

        <div class="col-md-8 recipes-info">
            <h1 class="recipes-title">{{ recipe.name }}</h1>
            <div class="recipes-description">
                <p>{{ recipe.description }}</p>
            </div>
            <div class="d-flex recipes-info recipes-info-details">
                <div class="col-sm-6">Cuisine: {{ recipe.cuisine }}</div>
                <div class="col-sm-6">Serves: {{ recipe.servings }}</div>
            </div>
            <div class="d-flex recipes-info recipes-info-details">
                <div class="col-sm-6">Preparation: {{ recipe.preparation_time }} mins</div>
                <div class="col-sm-6">Cooking: {{ recipe.cooking_time }} mins</div>
            </div>
            <div class="d-flex recipes-info recipes-info-details">
                <div class="col-sm-6">
                    {% if username %}
                        <a class="popularity-links" href="{{ url_for('likes', recipe_id=recipe['_id']) }}">
                    {% endif %}
                        {% if recipe._id in username.likes %}
                            <i class="fas fa-star fa-lg"></i> </a>
                        {% else %}
                            <i class="far fa-star fa-lg"></i> </a>
                        {% endif %}
                    {% if recipe.likes %}
                        {{ recipe.likes }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {% if username %}
                        <a class="popularity-links" href="{{ url_for('cooked', recipe_id=recipe['_id']) }}">
                    {% endif %}
                        {% if recipe._id in username.cooked %}
                            <i class="fas fa-utensils fa-lg"></i> </a>
                        {% else %}
                            <i class="fas fa-birthday-cake fa-lg"></i> </a>
                        {% endif %}
                    {% if recipe.cooked %}
                        {{ recipe.cooked }}
                    {% else %}
                        0
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<div class="row recipes-main">
    <div class="col-sm-12 col-md-6">
        <h3 class="recipes-sections">Ingredients</h3>
        <div class="ingredient-list-container">
            <ul class="ingredient-list">
                {% for ingredient in recipe.ingredients %}
                <li class="ingredient-list-{{ loop.cycle('odd', 'even' )}}">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <h3 class="recipes-sections">Instructions</h3>
        <div class="instructions-container">
            <ul class="instructions-list">
                {% for instruction in recipe.instructions %}
                    <li class="instruction-list-{{ loop.cycle('odd', 'even' )}}"><strong><span class="instruction-index">{{ loop.index }}</span></strong> - {{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}