{% extends 'base.html' %}
{% from '_nav.html' import show_links %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block nav %}
{{ show_links(username) }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-4 text-left">
        <img src="{{ url_for('file', image=recipe['image']) }}" class="rounded recipes-image" alt="{{ recipe.name }}">
    </div>
    <div class="col-md-8">
        <h1 class="text-center">{{ recipe.name }}</h1>
        <p>{{ recipe.description }}</p>
        <div class="d-flex text-center">
            <div class="col-sm-6">Preparation time: {{ recipe.preparation_time }} minutes</div>
            <div class="col-sm-6">Cooking time: {{ recipe.cooking_time }} minutes</div>
        </div>
        <div class="d-flex text-center">
            <div class="col-sm-6">Cuisine: {{ recipe.cuisine}}</div>
            <div class="col-sm-6">Serves: {{ recipe.servings }}</div>
        </div>
        <div class="text-center"></div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h5>Ingredients</h5>
        <div class="ingredient-list-container">
            <ul class="ingredient-list">
                {% for ingredient in recipe.ingredients %}
                <li class="ingredient-list-{{ loop.cycle('odd', 'even' )}}">{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h5>Instructions</h5>
        <div class="instructions-container">
            <ul class="instructions-list">
                {% for instruction in recipe.instructions %}
                    <li class="instruction-list-{{ loop.cycle('odd', 'even' )}}"><span class="instruction-index">{{ loop.index }}</span> - {{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if recipe.likes %}
    <div>
        <p>{{ recipe.likes }} Likes</p>
    </div>
    {% endif %}
    {% if recipe.cooked %}
    <div>
        <p>{{ recipe.cooked }} Cooked it</p>
    </div>
    {% endif %}
</div>

{% endblock %}